@page "/Dm_BcNgay"
@using DAO.Models.DanhMuc
@inherits BcNgayBase
<style type="text/css">
    #gdv > div.e-gridcontent > div {
        max-height: calc(100vh - 185px) !important;
    }
</style>
<BodyCard>
    <SfToolbar>
        <ToolbarItems>
            <ToolbarItem Type="ItemType.Button">
                <Template>
                    <SfButton CssClass="e-flat" IconCss="icon-loop3" @onclick="onTaiLai">Tải lại</SfButton>
                </Template>
            </ToolbarItem>
            <ToolbarItem Type="ItemType.Separator">
            </ToolbarItem>

            <ToolbarItem Type="ItemType.Button">
                <Template>
                    <SfButton CssClass="e-flat e-info" IconCss="icon-file-excel" @onclick="onXuatExcel">Xuất excel</SfButton>
                </Template>
            </ToolbarItem>
            <label><b>Lọc theo chi nhánh</b></label>

            <ToolbarItem Type="ItemType.Input">

            </ToolbarItem>
            <label><b>Lọc theo trạm</b></label>

            <ToolbarItem Type="ItemType.Input">

            </ToolbarItem>

        </ToolbarItems>
    </SfToolbar>
  <SfGrid DataSource="@ListNhatKyNgay" AllowPaging="true" AllowFiltering="true" AllowResizing="true">
    <GridColumns>
        <GridColumn Field="Id" IsPrimaryKey="true" HeaderText="STT" Width="50"></GridColumn>
        <GridColumn Field="Thoi_Gian" Format="dd/MM/yyyy HH:mm:ss" HeaderText="Thời gian" Width="150"></GridColumn>
        @if (ListNhatKyNgay != null)
        {
            var uniqueTenTrams = ListNhatKyNgay.Select(item => item.TenTram).Distinct().ToList();
            var uniqueThoiGian = ListNhatKyNgay.Select(item => item.Thoi_Gian).ToList();
            foreach (var tenTram in uniqueTenTrams)
            {
                <GridColumn Field="@($"TenTram_{tenTram}")" HeaderText="@tenTram" TextAlign="TextAlign.Center" Width="150">
                    <GridColumns>
                        @if (ListNhatKyNgay != null)
                        {
                            var uniqueTenThongSos = ListNhatKyNgay
                            .Where(item => item.TenTram == tenTram)
                            .Select(item => item.TenThongSo)
                            .Distinct()
                            .ToList();

                            @foreach (var tenThongSo in uniqueTenThongSos)
                            {
                                <GridColumn Field="@($"GiaTri_{tenThongSo}_{tenTram}")" HeaderText="@tenThongSo" Width="150">
                                    <Template>
                                          
                                                @foreach(var thoigian in uniqueThoiGian)
                                                {
                                                    var giaTri = ListNhatKyNgay
                                                    .FirstOrDefault(item => item.TenTram == tenTram && item.TenThongSo == tenThongSo && item.Thoi_Gian == thoigian);
                                                @giaTri
                                                }
                                            

                                    </Template>
                                </GridColumn>
                            }
                        }
                    </GridColumns>
                </GridColumn>
            }
        }
    </GridColumns>
</SfGrid>




</BodyCard>
