@page "/Dm_BcNgay"
@using DAO.Models.DanhMuc
@using ERPProject.ViewModel
@inherits BcNgayBase
<style type="text/css">
    #gdv > div.e-gridcontent > div {
        max-height: calc(100vh - 185px) !important;
    }
     .scrollable-table {
            width: 100%;
            height: 100%; /* Adjust the height as needed */
            overflow: auto; /* Enable both horizontal and vertical scrolling */
        }
    .heading-col{
        background-color: #00676B;
        color:#fff;
        text-align: center;
        border: 1px solid #333;
    }
    .row-style{
        border:1px solid #333;
        text-align: center;
    }
</style>

<BodyCard>
    <SfToolbar>
        <ToolbarItems>
            <ToolbarItem Type="ItemType.Button">
                <Template>
                    <SfButton CssClass="e-flat" IconCss="icon-loop3" @onclick="onTaiLai">Tải lại</SfButton>
                </Template>
            </ToolbarItem>
            <ToolbarItem Type="ItemType.Separator">
            </ToolbarItem>

            <ToolbarItem Type="ItemType.Button">
                <Template>
                    <SfButton CssClass="e-flat e-info" IconCss="icon-file-excel" @onclick="onXuatExcel">Xuất excel</SfButton>
                </Template>
            </ToolbarItem>
            <label><b>Lọc theo chi nhánh</b></label>

            <ToolbarItem Type="ItemType.Input">

            </ToolbarItem>
            <label><b>Lọc theo trạm</b></label>

            <ToolbarItem Type="ItemType.Input">

            </ToolbarItem>

        </ToolbarItems>
    </SfToolbar>
    @{
        var data = new List<BaoCaoNgayViewModel>();

        @if (ListNhatKyNgay != null)
        {
            var listNK = ListNhatKyNgay.GroupBy(x => x.Thoi_Gian).ToList();
            @foreach (var item in listNK)
            {
                var itemThongSo = item.GroupBy(x => x.Id_Tram).ToList();
                var thongsotong = new BaoCaoNgayViewModel();
                var listdata = new List<ThongSoTram>();
                thongsotong.ThoiGian = item.Key.ToString("dd/MM/yyyy HH:mm:ss");
                @foreach (var detailTram in itemThongSo)
                {
                   
                    var thongso = new ThongSoTram();
                    thongso.TenTram = detailTram.FirstOrDefault().TenTram;
                    @foreach (var items in detailTram)
                    {
                           
                        if (items.TenThongSo == "LƯU LƯỢNG TỨC THỜI 1")
                        {
                            thongso.LuuLuongTucThoi = items.Gia_Tri;
                        }
                        else
                        {

                            thongso.TongLuuLuong = items.Gia_Tri;
                        }
                    }
                    listdata.Add(thongso);
                }
                thongsotong.dataTram = listdata;
                data.Add(thongsotong);

            }
            var x = data;
            var x2 = "1";
        }
    }        
    <SfGrid id="gdv"
            DataSource="@data"
            AllowReordering="true"
            Width="100%"
            GridLines="GridLine.Both"
            AllowResizing="true"
            AllowExcelExport="true"
            AllowFiltering="true">
        <GridSelectionSettings EnableToggle="false"></GridSelectionSettings>
        <GridFilterSettings Mode="FilterBarMode.Immediate" ImmediateModeDelay="500" Operators="Operator.Contains"></GridFilterSettings>
        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
        
        <GridColumns>
            <GridColumn HeaderText="" TextAlign="@TextAlign.Center" Width="30">
                <Template>
                    <SfButton CssClass="e-small" IconCss="icon-pencil"></SfButton>
                    <SfButton CssClass="e-small" IconCss="icon-trash" ></SfButton>
                </Template>
            </GridColumn>
            <GridColumn Field="ThoiGian"
                        IsPrimaryKey="true"
                        HeaderText="Thời gian"
                        HeaderTextAlign="TextAlign.Center"
                        TextAlign="TextAlign.Left"
                        Width="120">
            </GridColumn>
            <GridColumn Field="TenTram"
                        IsPrimaryKey="true"
                        HeaderText="Tên Trạm"
                        HeaderTextAlign="TextAlign.Center"
                        TextAlign="TextAlign.Left"
                        Width="120">
            </GridColumn>
            
            @* @foreach (var prop in typeof(ThongSoTram).GetProperties())
            {
                var i = 0;
                @foreach(var lists in prop.Name)
                {
                    <GridColumn Field="TenTram"
                                IsPrimaryKey="true"
                                HeaderText="Thời gian"
                                HeaderTextAlign="TextAlign.Center"
                                TextAlign="TextAlign.Left"
                                Width="120">
                    </GridColumn>
                }
                <GridColumn Field="@prop.Name" IsPrimaryKey="@(prop.Name == "TenTram")" AllowEditing="@prop.CanWrite"></GridColumn> 
            } *@
            @* <GridColumn Field="ThoiGian"
                        IsPrimaryKey="true"
                        HeaderText="Tên trạm"
                        HeaderTextAlign="TextAlign.Center"
                        TextAlign="TextAlign.Left"
                        Width="120">
            </GridColumn> *@

        </GridColumns>
    </SfGrid>
    <div class="scrollable-table">
        @if (ListNhatKyNgay != null)
        {
            <table>
                <thead>
                    <tr>
                        <th class="heading-col" rowspan="2">STT</th>
                        <th class="heading-col" rowspan="2">Thời Gian</th>

                        @foreach (var tenTram in ListNhatKyNgay.Select(item => item.TenTram).Distinct())
                        {
                            var tenThongSoList = ListNhatKyNgay
                            .Where(item => item.TenTram == tenTram)
                            .Select(item => item.TenThongSo)
                            .Distinct()
                            .ToList();
                            <th class="heading-col" colspan="@tenThongSoList.Count">@tenTram</th>
                        }
                    </tr>
                    <tr>
                        @foreach (var tenTram in ListNhatKyNgay.Select(item => item.TenTram).Distinct())
                        {
                            var tenThongSoList = ListNhatKyNgay
                            .Where(item => item.TenTram == tenTram)
                            .Select(item => item.TenThongSo)
                            .Distinct()
                            .ToList();
                            foreach (var tenThongSo in tenThongSoList)
                            {
                                <th class="heading-col">@tenThongSo</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var thoiGian in ListNhatKyNgay.Select(item => item.Thoi_Gian).Distinct())
                    {
                        <tr>
                            <td class="row-style"></td>
                            <td class="row-style">@thoiGian.ToString("dd/MM/yyyy HH:mm:ss")</td>
                            @foreach (var tenTram in ListNhatKyNgay.Select(item => item.TenTram).Distinct())
                            {
                                var tenThongSoList = ListNhatKyNgay
                                .Where(item => item.TenTram == tenTram && item.Thoi_Gian == thoiGian)
                                .Select(item => item.TenThongSo)
                                .Distinct()
                                .ToList();
                                @foreach (var tenThongSo in tenThongSoList)
                                {
                                    var giaTri = ListNhatKyNgay
                                    .Where(item => item.TenTram == tenTram && item.Thoi_Gian == thoiGian && item.TenThongSo == tenThongSo)
                                    .Select(item => item.Gia_Tri)
                                    .FirstOrDefault();
                                    <td class="row-style">@((giaTri != null) ? giaTri : "")</td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</BodyCard>
