@page "/Dm_BcNgay"
@using DAO.Models.DanhMuc
@inherits BcNgayBase
<style type="text/css">
    #gdv > div.e-gridcontent > div {
        max-height: calc(100vh - 185px) !important;
    }
</style>
<BodyCard>
    <SfToolbar>
        <ToolbarItems>
            <ToolbarItem Type="ItemType.Button">
                <Template>
                    <SfButton CssClass="e-flat" IconCss="icon-loop3" @onclick="onTaiLai">Tải lại</SfButton>
                </Template>
            </ToolbarItem>
            <ToolbarItem Type="ItemType.Separator">
            </ToolbarItem>

            <ToolbarItem Type="ItemType.Button">
                <Template>
                    <SfButton CssClass="e-flat e-info" IconCss="icon-file-excel" @onclick="onXuatExcel">Xuất excel</SfButton>
                </Template>
            </ToolbarItem>
            <label><b>Lọc theo chi nhánh</b></label>

            <ToolbarItem Type="ItemType.Input">

            </ToolbarItem>
            <label><b>Lọc theo trạm</b></label>

            <ToolbarItem Type="ItemType.Input">

            </ToolbarItem>

        </ToolbarItems>
    </SfToolbar>

    <SfGrid DataSource="@ListNhatKyNgay" AllowPaging="true" AllowFiltering="true" AllowResizing="true">
        <GridPageSettings PageSize="100"></GridPageSettings>
        <GridSelectionSettings EnableToggle="false"></GridSelectionSettings>
        <GridFilterSettings Mode="FilterBarMode.Immediate" ImmediateModeDelay="500" Operators="Operator.Contains"></GridFilterSettings>
        <GridColumns>
            <GridColumn Field="Id" IsPrimaryKey="true" HeaderText="STT" Width="50"></GridColumn>
            <GridColumn Field="Thoi_Gian" Format="dd/MM/yyyy HH:mm:ss" HeaderText="Thời gian" Width="150"></GridColumn>
            @if (ListNhatKyNgay != null)
            {
                var uniqueTenTrams = ListNhatKyNgay.Select(item => item.TenTram).Distinct().ToList();
                foreach (var tenTram in uniqueTenTrams)
                {
                    var uniqueTenThongSos = ListNhatKyNgay
                    .Where(item => item.TenTram == tenTram)
                    .Select(item => item.TenThongSo)
                    .Distinct()
                    .ToList();

                    <GridColumn Field="@($"TenTram_{tenTram}")" HeaderText="@tenTram" TextAlign="TextAlign.Center" Width="150">
                        <GridColumns>
                            @foreach (var tenThongSo in uniqueTenThongSos)
                            {
                                <GridColumn Field="@($"ThongSo_{tenThongSo}_{tenTram}")" HeaderText="@tenThongSo" Width="150">
                                    <Template>
                                        @{
                                            var giaTriList = ListNhatKyNgay
                                            .Where(item => item.TenTram == tenTram && item.TenThongSo == tenThongSo)
                                            .Select(item => new { Thoi_Gian = item.Thoi_Gian, Gia_Tri = item.Gia_Tri })

                                            .ToList();
                                        }

                                        @foreach (var giaTri in giaTriList)
                                        {
                                            <div>
                                                @*<p>Thời gian: @giaTri.Thoi_Gian.ToString("dd/MM/yyyy HH:mm:ss")</p>*@
                                              <p> @giaTri.Gia_Tri</p>
                                            </div>
                                        }
                                    </Template>
                                </GridColumn>
                            }
                        </GridColumns>
                    </GridColumn>
                }
            }
        </GridColumns>
    </SfGrid>



       

</BodyCard>
