@page "/Dm_Thongsotram"
@using DAO.Models.DanhMuc
@inherits ThongSo_TramBase
<style type="text/css">
    #gdv > div.e-gridcontent > div {
        max-height: calc(100vh - 185px) !important;
    }
</style>
<BodyCard>
    <SfToolbar>
        <ToolbarItems>
            <ToolbarItem Type="ItemType.Button">
                <Template>
                    <SfButton CssClass="e-flat" IconCss="icon-loop3" @onclick="onTaiLai">Tải lại</SfButton>
                </Template>
            </ToolbarItem>
            <ToolbarItem Type="ItemType.Separator">
            </ToolbarItem>
            <ToolbarItem Type="ItemType.Button">
                <Template>
                    <SfButton CssClass="e-flat" IsPrimary="true" IconCss="icon-plus2" @onclick="onThemMoi">Thêm</SfButton>
                </Template>
            </ToolbarItem>
            <ToolbarItem Type="ItemType.Button">
                <Template>
                    <SfButton CssClass="e-flat e-info" IconCss="icon-file-excel" @onclick="onXuatExcel">Xuất excel</SfButton>
                </Template>
            </ToolbarItem>
            <label><b>Lọc theo chi nhánh</b></label>

            <ToolbarItem Type="ItemType.Input">
                <Template>
                    <ERPProject.Shared.Combobox.CbChiNhanh @ref="@CbChiNhanh" Width="350px" ValueChanged="onTaiLai"></ERPProject.Shared.Combobox.CbChiNhanh>
                </Template>
            </ToolbarItem>
            <label><b>Lọc theo trạm</b></label>

            <ToolbarItem Type="ItemType.Input">
                <Template>
                    <ERPProject.Shared.Combobox.CbTram @ref="@CbTram" Width="350px" ValueChanged="onTaiLai"></ERPProject.Shared.Combobox.CbTram>
                </Template>
            </ToolbarItem>

        </ToolbarItems>
    </SfToolbar>

    <SfGrid id="gdv"
            DataSource="@listThongSoTram"
            AllowReordering="true"
            Width="100%"
            @ref="gdv"
            AllowExcelExport="true"
            GridLines="GridLine.Both"
            AllowResizing="true"
            AllowFiltering="true"
            AllowPaging="true">
        <GridPageSettings PageSize="100"></GridPageSettings>
        <GridSelectionSettings EnableToggle="false"></GridSelectionSettings>
        <GridFilterSettings Mode="FilterBarMode.Immediate" ImmediateModeDelay="500" Operators="Operator.Contains"></GridFilterSettings>
        @*cho phép lựa chọn nhiều dòng*@
        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
        <GridColumns>
            <GridColumn HeaderText="" TextAlign="@TextAlign.Center" Width="60">
                <Template>
                    <SfButton CssClass="e-small" IconCss="icon-pencil" @onclick="@(()=> onCapNhat((context as prc_ThongSo_Tram).Id))"></SfButton>
                    <SfButton CssClass="e-small" IconCss="icon-trash" @onclick="@(()=> onXoa((context as prc_ThongSo_Tram).Id))"></SfButton>
                </Template>
            </GridColumn>
            <GridColumn Field="Id"
                        IsPrimaryKey="true"
                        HeaderText="STT"
                        HeaderTextAlign="TextAlign.Center"
                        TextAlign="TextAlign.Left"
                        FilterSettings="@(new FilterSettings() { Operator = Operator.Contains })"
                        Width="30">

            </GridColumn>
            <GridColumn Field="TenTram"
                        HeaderText="Tên trạm"
                        HeaderTextAlign="TextAlign.Center"
                        TextAlign="TextAlign.Left"
                        Width="80"
                        FilterSettings="@(new FilterSettings() { Operator = Operator.Contains })">

            </GridColumn>
            <GridColumn Field="TenThongSo"
                        HeaderText="Tên Thông số"
                        HeaderTextAlign="TextAlign.Center"
                        TextAlign="TextAlign.Left"
                        FilterSettings="@(new FilterSettings() { Operator = Operator.Contains })"
                        Width="100">

            </GridColumn>
            <GridColumn Field="TenChiNhanh"
                        HeaderText="Tên chi nhánh"
                        HeaderTextAlign="TextAlign.Center"
                        TextAlign="TextAlign.Left"
                        FilterSettings="@(new FilterSettings() { Operator = Operator.Contains })"
                        Width="70">

            </GridColumn>
            <GridColumn Field="TenTql"
                        HeaderText="Tên tổ quản lí"
                        HeaderTextAlign="TextAlign.Center"
                        TextAlign="TextAlign.Left"
                        FilterSettings="@(new FilterSettings() { Operator = Operator.Contains })"
                        Width="30">

            </GridColumn>
            
            @*  <GridColumn Field="ten_duong"
            HeaderText="Tên Đường"
            HeaderTextAlign="TextAlign.Center"
            TextAlign="TextAlign.Left"
            FilterSettings="@(new FilterSettings() { Operator = Operator.Contains })"
            Width="30">

            </GridColumn> *@
            @*  <GridColumn Field="ten_phuong"
            HeaderText="Tên Phường"
            HeaderTextAlign="TextAlign.Center"
            TextAlign="TextAlign.Left"
            FilterSettings="@(new FilterSettings() { Operator = Operator.Contains })"
            Width="30">

            </GridColumn> *@
            
        </GridColumns>
    </SfGrid>
</BodyCard>
<ThongSo_Tram_CapNhat @ref="fCapNhat" OnLuu="XacNhanLuu"></ThongSo_Tram_CapNhat>
<FormXacNhan @ref="frmXacNhan"> </FormXacNhan>



