@using System.Collections.ObjectModel;
@using DAO.Services.DanhMuc;
@using DAO.Models.DanhMuc;
@using Syncfusion.Blazor.DropDowns;
<style>
    .column-width {
        width: 75px;
    }
</style>
<SfDropDownList Placeholder="Chọn..." @ref="cb"
                @bind-Value="@Value" TValue="int"
                Width="@Width"
                PopupWidth="@PopupWidth"
                TItem="@Dm_ChiNhanh"
                AllowFiltering="true"
                FilterType="@Syncfusion.Blazor.DropDowns.FilterType.Contains"
                CssClass="e-multi-column"
                ShowClearButton="true" DataSource="Data">

    <DropDownListFieldSettings Text="Ten" Value="Id"></DropDownListFieldSettings>
    <DropDownListTemplates TItem="@Dm_ChiNhanh">
        <HeaderTemplate>
            <table>
                <tr>
                    <th>Mã</th>
                    <th>Tên chi nhánh</th>
                </tr>
            </table>
        </HeaderTemplate>
        <ItemTemplate>
            <table>
                <tbody>
                    <tr>
                        <td class="e-text-center column-width">
                            @((context as Dm_ChiNhanh).Id)
                        </td>
                        <td>@((context as Dm_ChiNhanh).Ten)</td>
                    </tr>
                </tbody>
            </table>
        </ItemTemplate>
        <ValueTemplate>
            <span>@((context as Dm_ChiNhanh).Id) - @((context as Dm_ChiNhanh).Ten) </span>
        </ValueTemplate>
    </DropDownListTemplates>
    <DropDownListEvents TValue="int" TItem="@DAO.Models.DanhMuc.Dm_ChiNhanh" ValueChange="ValueChange" Filtering="onFilter"></DropDownListEvents>
</SfDropDownList>

@code {
    private SfDropDownList<int, Dm_ChiNhanh> cb;
    private List<Dm_ChiNhanh> Data = new List<Dm_ChiNhanh>();
    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public string PopupWidth { get; set; } = "200px";

    [Parameter]
    public string Width { get; set; } = "100px";

    [Parameter]
    public int Value { get; set; }
    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }
    private void ValueChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<int, DAO.Models.DanhMuc.Dm_ChiNhanh> args)
    {
        Value = args.Value;
        ValueChanged.InvokeAsync(Value);
    }
    protected override void OnInitialized()
    {
        Data = DmChiNhanhService.GetToComBo().Data;
    }
    public void setFocus()
    {
        cb.FocusIn();
    }
    [Parameter]
    public EventCallback<Syncfusion.Blazor.DropDowns.FilteringEventArgs> Filtering { get; set; }

    public async void onFilter(Syncfusion.Blazor.DropDowns.FilteringEventArgs args)
    {
        args.PreventDefaultAction = true;
        if (args.Text == null || args.Text.Trim() == "")
        {
            Data = DmChiNhanhService.GetToComBo().Data;
        }

        await cb.FilterAsync(Data);
        StateHasChanged();
    }



}