@using System.Collections.ObjectModel;
@using DAO.Services.DanhMuc;
@using DAO.Models.DanhMuc;
@using Syncfusion.Blazor.DropDowns;
<style>
    .column-width {
        width: 75px;
    }
</style>
<SfDropDownList Placeholder="Chọn..." @ref="cb"
                @bind-Value="@Value" TValue="int?"
                Width="@Width"
                PopupWidth="@PopupWidth"
                TItem="@cky_bien_doc"
                AllowFiltering="true"
                FilterType="@Syncfusion.Blazor.DropDowns.FilterType.Contains"
                CssClass="e-multi-column"
                ShowClearButton="true" DataSource="Data">

    <DropDownListFieldSettings Text="mo_ta_cky" Value="ms_cky"></DropDownListFieldSettings>
    <DropDownListTemplates TItem="@cky_bien_doc">
        <HeaderTemplate>
            <table>
                <tr>
                    <th>Mã</th>
                    <th>Mô Tả</th>
                    <th>Ghi Chú</th>
                </tr>
            </table>
        </HeaderTemplate>
        <ItemTemplate>
            <table>
                <tbody>
                    <tr>
                        <td class="e-text-center column-width">
                            @((context as cky_bien_doc).ms_cky)
                        </td>
                        <td>@((context as cky_bien_doc).mo_ta_cky)</td>
                        <td>@((context as cky_bien_doc).ngay_thuc_te)</td>
                    </tr>
                </tbody>
            </table>
        </ItemTemplate>
        <ValueTemplate>
            <span>@((context as cky_bien_doc).ms_cky) - @((context as cky_bien_doc).mo_ta_cky) </span>
        </ValueTemplate>
    </DropDownListTemplates>
    <DropDownListEvents TValue="int?" TItem="@DAO.Models.DanhMuc.cky_bien_doc" ValueChange="ValueChange" Filtering="onFilter"></DropDownListEvents>
</SfDropDownList>

@code {
    private SfDropDownList<int?, cky_bien_doc> cb;
    private List<cky_bien_doc> Data = new List<cky_bien_doc>();
    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public string PopupWidth { get; set; } = "200px";

    [Parameter]
    public string Width { get; set; } = "100px";

    [Parameter]
    public int? Value { get; set; }
    [Parameter]
    public EventCallback<int?> ValueChanged { get; set; }
    private void ValueChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<int?, DAO.Models.DanhMuc.cky_bien_doc> args)
    {
        Value = args.Value;
        ValueChanged.InvokeAsync(Value);
    }
    protected override void OnInitialized()
    {
        Data = cky_bien_docService.GetToComBo().Data;
    }
    public void setFocus()
    {
        cb.FocusIn();
    }
    [Parameter]
    public EventCallback<Syncfusion.Blazor.DropDowns.FilteringEventArgs> Filtering { get; set; }

    public async void onFilter(Syncfusion.Blazor.DropDowns.FilteringEventArgs args)
    {
        args.PreventDefaultAction = true;
        if (args.Text == null || args.Text.Trim() == "")
        {
            Data = cky_bien_docService.GetToComBo().Data;
        }
        else
        {
            Data = cky_bien_docService.GetByKeyword(args.Text).Data;
        }
        await cb.FilterAsync(Data);
        StateHasChanged();
    }



}
