@using System.Collections.ObjectModel;
@using DAO.Services.DanhMuc;
@using DAO.Models.DanhMuc;
@using Syncfusion.Blazor.DropDowns;
<style>
    .column-width {
        width: 75px;
    }
</style>
<SfDropDownList Placeholder="Chọn..." @ref="cb"
                @bind-Value="@Value" TValue="int"
                Width="@Width"
                PopupWidth="@PopupWidth"
                TItem="@Dm_Tram"
                AllowFiltering="true"
                FilterType="@Syncfusion.Blazor.DropDowns.FilterType.Contains"
                CssClass="e-multi-column"
                ShowClearButton="true" DataSource="Data">

    <DropDownListFieldSettings Text="Ten" Value="Id"></DropDownListFieldSettings>
    <DropDownListTemplates TItem="@Dm_Tram">
        <HeaderTemplate>
            <table>
                <tr>
                    <th>Mã</th>
                    <th>Tên Tuyến</th>
                </tr>
            </table>
        </HeaderTemplate>
        <ItemTemplate>
            <table>
                <tbody>
                    <tr>
                        <td class="e-text-center column-width">
                            @((context as Dm_Tram).Id)
                        </td>
                        <td>@((context as Dm_Tram).Ten)</td>
                    </tr>
                </tbody>
            </table>
        </ItemTemplate>
        <ValueTemplate>
            <span>@((context as Dm_Tram).Id) - @((context as Dm_Tram).Ten) </span>
        </ValueTemplate>
    </DropDownListTemplates>
    <DropDownListEvents TValue="int" TItem="@Dm_Tram" ValueChange="ValueChange"></DropDownListEvents>
</SfDropDownList>

@code {
    private SfDropDownList<int, Dm_Tram> cb;
    private List<Dm_Tram> Data = new List<Dm_Tram>();
    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public string PopupWidth { get; set; } = "400px";

    [Parameter]
    public string Width { get; set; } = "100px";

    [Parameter]
    public int Value { get; set; }
    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }
    private void ValueChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<int, Dm_Tram> args)
    {
        Value = args.Value;
        ValueChanged.InvokeAsync(Value);
    }
    protected override void OnInitialized()
    {
        Data = DmTramService.GetToComBo().Data;
    }
    public void setFocus()
    {
        cb.FocusIn();
    }
}
